<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>display puppy</title>
  </head>
  <body>
    <p>Puppy Name:</p>
    <%= @new_puppy.name %>
    <p>Puppy Breed:</p>
    <%= @new_puppy.breed %>
    <p>Puppy Age:</p>
    <%= @new_puppy.age %>
  </body>
</html>
